.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #62ccfb;
}
.header-nav{
    padding: 0.5em 0;
    
}
.header-nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}
.header-nav__link-logo-container{
    display: flex;
    height: 3rem;
    transition: var(--all-transitions);
}
.header-nav__link-logo-container:hover{
    box-shadow: 0 0 0.25rem 0 var(--primary-highlight),
    0 0 0.5rem var(--primary-highlight);
}   
.header-nav__link-logo{
    height: 100%;
}
header-nav_menu-link--active{
    background-color: black;
}
.header-nav__menu-icon-label{
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    top: 5px;
    transition: var(--all-transitions);
}
.header-nav__menu-icon-label:hover{
    text-shadow: 0 0 0.25rem var(--primary-highlight),
    0 0 0.5rem var(--primary-highlight);
}
.header-nav__menu-icon-checkbox{
    display: none;
}
.header-nav__menu-icon-checkbox:checked+.header-nav__menu-link-list {
    left: 50%;
}
.header-nav__menu-link-list{
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 50%;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: #62ccfb;
    list-style: none;
    transition: var(--all-transitions);
}
.header-nav__menu-link-item{
    display: flex;
}

.header-nav_menu-link{
    position: relative;
    color: var(--text-color);
    text-shadow: 
    0 0 0.125rem var(--primary-highlight),
    0 0 0.25rem var(--primary-highlight);
    text-decoration: none;
    font-weight: bold;
    transition: var(--all-transitions);
}
.header-nav_menu-link--active{
    font-size: 1.5rem;
}
@media(min-width: 854px){
    .header-nav__menu-icon-label{
        display: none;
    }
    .header-nav__menu-link-list{
        position: static;
        width: auto;
        flex-direction: row;
        gap: 1.5rem;
        background-color: transparent;
        list-style: none;
        
    }
}